*{
    scroll-behavior: smooth;
  }

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
    background-color: rgba(white, white, white, 0.3);
    backdrop-filter: blur;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #615ba7, #3f84c2, #37adb6);
}

.navigation-casing {
    backdrop-filter: blur;
}

.profile-casing {
    border-color: black;
}

.profile { 
    width: 100px; 
    border-radius: 50px; 
    float: left; 
    margin-right: 10px; 
}

.navigation { 
    align-items: center;
}

.logo {
    image-orientation: center;
    border-radius: 90px;
}

.credentials-casing { 
    border-color: black;
    border-left: 5px; 
}
/*
.log-in-section { 

}

.sign-up-section { 

}
*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crypto-button {
    transition: all 0.07s ease;
    width: 25%;
    height: 25%;
}

.clicked {
    transform: scale(1.1);
}
/*
.counter-casing { 

}

.counter { 

}

.footer-content { 

}
*/
.h3-footer { 
    text-align: center; 
}

.socials { 
    list-style-type: none; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 1rem 0 3rem 0; 
}

.socials li { 
    margin: 0 10px; 
    align-items: center; 
}

.socials a { 
    text-decoration: none; 
}

.gmail-logo :hover{ 
    animation-name:
    scaleTransform;
    animation-duration: 3s; 
}

.instagram-logo :hover{ 
    animation-name:
    scaleTransform;
    animation-duration: 3s; 
}

.facebook-logo :hover{ 
    animation-name:
    scaleTransform;
    animation-duration: 3s; 
}

.twitter-logo :hover{ 
    animation-name:
    scaleTransform;
    animation-duration: 3s; 
}

.linked-in-logo :hover{ 
    animation-name:
    scaleTransform;
    animation-duration: 3s; 
}

.footer-bottom { 
    align-items: center; 
}

@keyframes scaleTransform {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.25)
    }
}
